/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$font-family-monospace: "Fira Code", monospace;

// colors
$white: #FCFCFCff;
$mint-cream: #DBE9E4ff;
$black: #000000ff;
$khaki: #ABA197ff;
$red-cmyk: #F01B26ff;
$lion: #B59658ff;

$link-color: $black;
$presentation-heading-color: $black;

$body-bg: $mint-cream;
$code-color: #B59658ff;
$code-block-font-size: 0.7em;
$code-block-bg: #FFFFFF;
$presentation-h2-font-size: 1.4em !default;
$presentation-font-size-root: 36px !default;

/*-- scss:rules --*/

// title slide
#title-slide .title {
  color: $black;
  font-weight: bold;
  text-align: left;
  font-family: "Little Days", serif;
}

#title-slide .quarto-title-authors {
  color: $black;
  text-align: left;
}

.reveal .quarto-title-block .quarto-title-authors {
  display: flex;
  justify-content: left;
}

.reveal .quarto-title-block .quarto-title-authors .quarto-title-author {
  padding-left: 0;
}

// section title slide

.reveal h1 {
  font-family: "Little Days", serif;
}

// sizes
.smallest {
  font-size: 0.5em;
}

.small {
  font-size: 0.75em;
}

.medium {
  font-size: 0.9em;
}

.larger {
  font-size: 1.2em;
}

.large {
  font-size: 1.5em;
}

.xlarge {
  font-size: 1.8em;
}

.huge {
  font-size: 3em;
}

// alignment

.center-align {
  text-align: center;
}

// color text
.reveal .lion {
  color: $lion;
}

.reveal .red {
  color: $red-cmyk;
}

.reveal .white {
  color: $white;
}

.reveal .hand {
  font-family: 'Little Days', cursive;
}
